.wrapper {
    margin: auto;
    margin-top: 50px;
    width: 80%;
}


h4{
    color: #F2F2F2;
}

ul {
    padding:0;
    list-style-type: none;
}

.details {
    display: flex;
    height: 50px;
    color: #000;
    border-radius: 5px;
    margin: 15px 0;
    background-color: rgb(238, 230, 220);
    justify-content: start;
    align-items: center;
    border-left: 8px solid #181818;
}

.details span {
    padding: 0 5px;
}
